@import url(https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,400,600,700);
/* open sans fonts; italic 300, 400, 600. regular 400 600 700 */

.mainpic {
  width: 100%;
  max-height: 600px;
}

.contactinfo {
  font-family: 'Open Sans', Helvetica, sans-serif;
  font-size: .8em;
  line-height: 1.5em;
  font-weight: 400;
  text-align: center;
}

.map {
  width: 30%;
}

main {
  max-width: 1000px;
  padding: 0 auto;
  margin: 40px auto 0 auto;
  text-align: center;
}

h3 {
  text-align: center;
  font-family: 'Open Sans', Helvetica, sans-serif;
  font-size: 1em;
  font-weight 600;
  line-height: .2em;
  margin-bottom: 1px;
}

div {
  margin-bottom: 28px;
}

.contacthead {
  line-height: 2em;
}

.map {
  width: 70%;
  margin: 10px auto;
  right: auto;
}

@media screen and (min-width:600px) {

main {
    margin-top: 0;
  }

.contact {
      float: left;
      width: 33.3%;
      padding-top: 1em;
      padding-bottom: 2em;}

.map {
      width: 80%;
      margin: 10px auto;
      right: auto;
      }

.mainpic {
      display: block;
      width: 100%;
      }
}
