<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Home Page Wireframe</title>
    <meta name="description" content="Book Appointment">
  </head>
  <body>
    <header role="banner">

    <a href="form.html" class="myButton">BOOK APPOINTMENT</a>

      <a href="#menu" class="menu-link">
      	<div class="menu-link__hamburger">
      		<span></span>
      		<span></span>
      		<span></span>
      	</div>
      	<div class="menu-link__label"></div>
      </a>

      <nav id="menu" role="navigation">
      			<ul class="menu">
              <li><a href="index.html">ABOUT</a></li>
              <li><a href="shop.html">SHOP</a></li>
              <li><a href="team.html">TEAM</a></li>
              <li><a href="services.html">SERVICES</a></li>
              <li><a href="contact.html">CONTACT</a></li>
      			</ul>
      </nav>

      </header>

      <a href="index.html>"><img class="logo" src="img/logo.svg" alt="logo"></img></a>

    <main role="main">

      <h1 class="contacthead">CONTACT</h1>

      <div class="contact">
      <h3>Phone</h3>
      <p class="contactinfo">330-555-5555</p>
    </div>

    <div class="contact">
      <h3>Hours</h3>
      <p class="contactinfo">Monday - Thursday: 8 a.m. - 6 p.m.<br />
         Saturday: 10 a.m. - 5 p.m.<br />
         Sunday: Closed<br />
      </div>

      <div class="contact">
      <h3>Address</h3>
      <p class="contactinfo">The Ohio Chop Shop<br />
        4420 E. Main St.<br />
        Akron, Ohio 44322<br />
      </div>

      <script class="map" src='https://maps.googleapis.com/maps/api/js?v=3.exp'></script>
      <div  class="map"><div id='gmap_canvas' style='height:440px;width:100%;'></div><div><small><a href="http://embedgooglemaps.com">
        embed google maps
      </a></small></div><div><small><a href="http://freedirectorysubmissionsites.com/">directory submission sites</a></small></div><style>#gmap_canvas img{max-width:none!important;background:none!important}</style></div><script type='text/javascript'>function init_map(){var myOptions = {zoom:10,center:new google.maps.LatLng(41.0814447,-81.5190053),mapTypeId: google.maps.MapTypeId.ROADMAP};map = new google.maps.Map(document.getElementById('gmap_canvas'), myOptions);marker = new google.maps.Marker({map: map,position: new google.maps.LatLng(41.0814447,-81.5190053)});infowindow = new google.maps.InfoWindow({content:'<strong>The Ohio Chop Shop</strong><br>Akron, Ohio<br>'});google.maps.event.addListener(marker, 'click', function(){infowindow.open(map,marker);});infowindow.open(map,marker);}google.maps.event.addDomListener(window, 'load', init_map);</script>



    </main>

    <footer role="contentinfo">
        <img class="align-center social" src="img/social.svg" alt="social media icons">

        <nav class="footer-nav">
          <a href="">Careers</a>
          <a href="">Terms</a>
          <a href="">Blog</a>
        </nav>

        <p class="footer-copyright">© The Ohio Shop Shop Hair Salon</p>
    </footer>


    <link href="style.css" rel="stylesheet" type="text/css" media="screen" />
    <link href="contact-style.css" rel="stylesheet" type="text/css" media="screen" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
    <script type="text/javascript" src="index-java.js"></script> <!-- Add your stylesheet here, before the closing HTML tag -->
  </body>
</html>
