<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Home Page Wireframe</title>
    <meta name="description" content="Book Appointment">
  </head>
  <body>
    <header>
        The Ohio Chop Shop
    </header>

    <nav>
      <ul>
        <li>About</li>
        <li>Shop</li>
        <li>Team</li>
        <li>Services</li>
        <li>Contact</li>
      </ul>
    </nav>


    <main>

    </main>

    <footer>
      <p>Copyright the Ohio Shop Shop Hair Salon</p>

      <nav>
        <ul>
          <li>Careers</li>
          <li>Terms</li>
          <li>Blog</li>
        </ul>
      </nav>

      <p>Social Media icons</p>
    </footer>



      <link href="style.css" rel="stylesheet" type="text/css" media="screen" /> <!-- Add your stylesheet here, before the closing HTML tag -->
  </body>
</html>
