@import url(https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,400,600,700);
/* open sans fonts; italic 300, 400, 600. regular 400 600 700 */






body {
  font-family: 'Open Sans', Helvetica, sans-serif;
}

p {
  font-family: 'Open Sans', Helvetica, sans-serif;
  padding: 0 5%;
  font-size: .9em;
  line-height: 1.7em;
}

h1 {
  font-weight: 600;
  text-transform: capitalize;
  text-align: center;
  font-size: 1.5em;
  margin-bottom: .3em;
  margin-top: 1.5em;
  line-height: .7em;
}

h2{
  text-align:center;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  padding: 20px 15%;
}
form header {
  margin: 0 0 20px 0;
}
form header div {
  font-size: 90%;
  color: #999;
}
form header h2 {
  margin: 0 0 5px 0;
}
form > div {
  clear: both;
  overflow: hidden;
  padding: 1px;
  margin: 0 0 10px 0;
}
form > div > fieldset > div > div {
  margin: 0 0 5px 0;
}
form > div > label,
legend {
	width: 25%;
  float: left;
  padding-right: 10px;
}
form > div > div,
form > div > fieldset > div {
  width: 75%;
  float: right;
}
form > div > fieldset label {
	font-size: 90%;
}
fieldset {
	border: 0;
  padding: 0;
}

input[type=text],
input[type=email],
input[type=url],
input[type=password],
textarea {
	width: 100%;
  border-top: 1px solid #ccc;
  border-left: 1px solid #ccc;
  border-right: 1px solid #eee;
  border-bottom: 1px solid #eee;
}
input[type=text],
input[type=email],
input[type=url],
input[type=password] {
  width: 50%;
}
input[type=text]:focus,
input[type=email]:focus,
input[type=url]:focus,
input[type=password]:focus,
textarea:focus {
  outline: 0;
  border-color: #4697e4;
}

@media (max-width: 600px) {
  form > div {
    margin: 0 0 15px 0;
  }
  form > div > label,
  legend {
	  width: 100%;
    float: none;
    margin: 0 0 5px 0;
  }
  form > div > div,
  form > div > fieldset > div {
    width: 100%;
    float: none;
  }
  input[type=text],
  input[type=email],
  input[type=url],
  input[type=password],
  textarea,
  select {
    width: 100%;
  }
}
@media (min-width: 1200px) {
  form > div > label,
	legend {
  	text-align: right;
  }
}


/*footer social icons*/

footer {
  background: #3B424E;
  color: white;
}

.footer-nav {
  text-align: center;
}

.footer-nav a {
  display: inline-block;
  margin: 0 28px;
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
}

.footer-copyright {
  text-align: center;
  text-transform: uppercase;
  font-size: 11px;
  color: #ccc;
  margin-top: 26px;
}

.social {
  max-width: 270px;
  display: block;
  margin: 0 auto;
}

img.align-center social{
  display: block;
  width: 40%;
}

/* start of media quiries*/
@media screen and (min-width:800px) {
  a.menu-link {
     display: none;
  }
  .js nav[role=navigation] {
    max-height: none;
    position: absolute;
    top: 50px;
    right: 0;
    width: 60%;
  }

  nav[role=navigation] ul {
    margin: 20px 15px 0 -0.25em;
    border: 0;
    background-color: inherit;
    text-align: right;
  }

  nav[role=navigation]  li {
    display: inline-block;
    margin: 0 0.25em;
  }
  nav[role=navigation] li a {
    border: 0;
    color: black;
    font-size: .9em;
  }

  header {
    position: inherit;
    top: inherit;
    left: inherit;
    background-color: inherit;
    float: right;
    width: 60%;
  }

  .logo {
    margin-top: 30px;
    margin-left: 10px;
  }

  .myButton {
    font-size:12px;
    font-weight:bold;
    padding:6px 21px;
    text-decoration:none;
    text-shadow:0px 1px 0px #d1515a;
    position: absolute;
    right: 30px;
    top: 25px;
    letter-spacing: 0.7px;
  }

  .social {
    max-width: 270px;
    display: block;
    margin: 0 auto;
  }
}
