@import url(https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,400,600,700);
/* open sans fonts; italic 300, 400, 600. regular 400 600 700 */

.mainpic {
  width: 100%;
  max-height: 600px;
}

.col-group > div {
  padding: 1em 1em 0;
}

.icon {
  max-width: 50%;
  margin: 10px auto;
  display: block;
}

main {
  padding-top: 30px;
}

@media screen and (min-width:800px) {

  .col-group {
  overflow: hidden;
  }

.col-group > div {
  float: left;
  width: 33.3333333%;
  }

main {
  max-width: 1000px;
  margin: 0 auto 4em auto;
}

.mainpic {
  display: block;
  width: 100%;
}
}
