<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>The Ohio Chop Shop Salon</title>
    <meta name="description" content="Page Description Goes Here">
  </head>

  <body>

  <header>
    <div id="headerBar">

  <a href="#" class="myButton">BOOK APPOINTMENT</a>

    <a href="#menu" class="menu-link">
    	<div class="menu-link__hamburger">
    		<span></span>
    		<span></span>
    		<span></span>
    	</div>
    	<div class="menu-link__label"></div>
    </a>

    <nav id="menu" role="navigation">
    			<ul>
            <li><a href="index.html">ABOUT</a></li>
            <li><a href="shop.html">SHOP</a></li>
            <li><a href="team.html">TEAM</a></li>
            <li><a href="services.html">SERVICES</a></li>
            <li><a href="contact.html">CONTACT</a></li>
    			</ul>
    </nav>
    </div>

    <img class="logo" src="img/logo.svg" alt="logo">
    </header>

    <main>
      <img src="img/interior.jpg" alt="Inside View of the Shop">
      <h1>OUR STORY</h1>
      <p>A great haircut is like a work of art. It communicates your unique style
        and personality. The talented and creative team of hair stylists at the Ohio
        Chop Shop always consult with you at every appointment to ensure we deliver
        the look you desire. Founded in 2008, the Ohio Chop Shop was born from owner
        Ana’s passion for the fashion and beauty industry. The vision was simple,
        offer world class salon and spa services in an upbeat modern atmosphere,
        while respecting our environment. The concept was a hit, and Ohio Chop Shop
        was fast on it’s way to making waves in the Lancaster beauty industry. After
        two exciting years, the Ohio Chop Shop was outgrowing the original 2400 square
        foot space located in the historic Akron.</p>
      <br/><p class="read" Read more of our Story..></p>

      <img src="img/icon1.svg" alt="team"> <br />
      <p>Get to know and book an appointment with our professional stylists, mani-pedi
        specialists and massage therapists. With their flexible schedules, you are
        guarenteed to find a time that caters to your busy day.</p>
        <br />
      <img src="img/blog2.svg" alt="blog"> <br />
      <p>Check out our Youtube page where we will keep you up-to-date on the latest
        style trends. New videos will be posted every Thursday!</p>
      <br />
      <img src="img/icon3.svg" alt="contact"> <br />
      <p>We are available seven days a week to take your call to book an appointment
        or answer any questions you may have. Give us a ring and we would be happy
        to serve you.</p>
      <br />
    </main>

    <footer>
      <div id="footerBar">
      <p>© The Ohio Shop Shop Hair Salon</p>

      <nav>
        <ul>
          <li>Careers</li>
          <li>Terms</li>
          <li>Blog</li>
        </ul>
      </nav>

      <img src="img/social.svg" alt="social media icons">
      <p></p>
    </div>
    </footer>

      <link href="style.css" rel="stylesheet" type="text/css" media="screen" />
      <link href="index-style.css" rel="stylesheet" type="text/css" media="screen" />
      <script type="text/javascript" src="index-java.js"></script>
  </body>
</html>
