<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Chop Shop Pattern Library</title>
    <meta name="description" content="Page Description Goes Here">
  </head>

  <body>

    <header role="banner">

    <a href="form.html" class="myButton">BOOK APPOINTMENT</a>

      <a href="#menu" class="menu-link">
        <div class="menu-link__hamburger">
          <span></span>
          <span></span>
          <span></span>
        </div>
        <div class="menu-link__label"></div>
      </a>

      <nav id="menu" role="navigation">
            <ul class="menu">
              <li><a href="index.html">ABOUT</a></li>
              <li><a href="#">SHOP</a></li>
              <li><a href="team.html">TEAM</a></li>
              <li><a href="#">SERVICES</a></li>
              <li><a href="contact.html">CONTACT</a></li>
            </ul>
      </nav>

      </header>

    <a href="templates/index.html"><img class="logo" src="img/logo.svg" alt="logo"></img></a>


  <main>
      <h1>PATTERN LIBRARY</h1>

      <h2>Photography</h2>
      <hr>
        <img class="mainpic" src="img/interior.jpg" alt="Inside View of the Shop">
      <p> On every page there will be a full bleeed picture relating to the content on the current page. </p>
       <h2>Typography</h2>
       <hr>
       <h1>MAIN TITLE OF PAGE</h1>
       <h3>Subtitle: Open Sans Bold</h3>
       <p>Body Copy: Open Sans Regular<p>


       <h2>Color</h2>
       <hr>
       <div class="full-color"><div class="box pink"></div> <p class="color">Pink: #D1515A</p></div>

       <div class="full-color"><div class="box purple"></div> <p class="color">Deep Purple: #3B424E</p></div>

       <div class="full-color"><div class="box gray"></div> <p class="color">Gray: #808080</p></div>

       <h2>Button</h2>
       <hr>
         <a href="form.html" class="myButton patternbutton">BOOK APPOINTMENT</a>
         <a href="#" class="button">Submit</a>

       <h2>Header/Navigation</h2>
       <hr>
       <header class="patternheader" role="banner">

       <a href="#" class="myButton">BOOK APPOINTMENT</a>

         <a href="#menu" class="menu-link">
           <div class="menu-link__hamburger">
             <span></span>
             <span></span>
             <span></span>
           </div>
           <div class="menu-link__label"></div>
         </a>

         <nav id="menu" role="navigation">
               <ul class="menu">
                 <li><a href="index.html">ABOUT</a></li>
                 <li><a href="shop.html">SHOP</a></li>
                 <li><a href="team.html">TEAM</a></li>
                 <li><a href="services.html">SERVICES</a></li>
                 <li><a href="contact.html">CONTACT</a></li>
               </ul>
         </nav>

         </header>
         <a href="index.html>"><img class="logo" src="img/logo.svg" alt="logo"></img></a>
      <br />
      <br />
      <br />

       <h2>Footer</h2>
       <hr>
       <footer role="contentinfo">
           <img class="align-center social" src="img/social.svg" alt="social media icons">

           <nav class="footer-nav">
             <a href="">Careers</a>
             <a href="">Terms</a>
             <a href="">Blog</a>
           </nav>

           <p class="footer-copyright">© The Ohio Shop Shop Hair Salon</p>
       </footer>

  </main>


     <link href="style.css" rel="stylesheet" type="text/css" media="screen" />
     <link href="index-style.css" rel="stylesheet" type="text/css" media="screen" />
     <link href="pattern.css" rel="stylesheet" type="text/css" media="screen" />
     <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
     <script type="text/javascript" src="index-java.js"></script>
  </body>
</html>
