@import url(https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,400,600,700);
/* open sans fonts; italic 300, 400, 600. regular 400 600 700 */

nav{

}

body {
  max-width: 1000px;
  padding: 1em;
  font-family: 'Open Sans', Helvetica, sans-serif;
}

p {
  font-family: 'Open Sans', Helvetica, sans-serif;
}

h1 {
  font-weight: 400;
  text-transform: capitalize;
  font-size: 1.5em;
}

.logo {
  position: static;
  align-content: center;
}
