@import url(https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,400,600,700);
/* open sans fonts; italic 300, 400, 600. regular 400 600 700 */

body {
  font-family: 'Open Sans', Helvetica, sans-serif;
}

p {
  font-family: 'Open Sans', Helvetica, sans-serif;
  padding: 0 5%;
  font-size: .9em;
  line-height: 1.7em;
}

h1 {
  font-weight: 600;
  text-transform: capitalize;
  text-align: center;
  font-size: 1.5em;
  margin-bottom: .3em;
  margin-top: 1.5em;
  line-height: .7em;
}

h1:before {
  content: "\25C6";
  position: relative;
  right: 15px;
  top: -2px;
  color: #bbb;
}

h1:after {
  content: "\25C6";
  position: relative;
  left: 15px;
  top: -2px;
  color: #bbb;
}

.team {
  width: 20%;
}

header {
  position: fixed;
  top: 0px;
  left: 0px;
  margin: 0px;
  padding: 10;
  width: 100%;
  background-color: #3B424E;
  z-index: 10;
}

 .logo {
   display: block;
   width: 275px;
   margin: 15px auto;
   margin-top: 90px;
}

.mainpic {
  display: block;
  width: 100%;
}

.read {
  position: absolute;
  color: #8d2c3b;
}

html, body {
    margin: 0;
    padding: 0
}


header {
    height: 80px;
    background: #3B424E;
}

footer {
  background: #3B424E;
}

footer {
  color: white;
}

img.align-center social{
  display: block;
  width: 40%;
}

/*

beginning team page code

h1{
  color: rgb(209,81,90);
}

h2{
  color: rgb(209,81,90);
  font-family: grafolita script
}

h3{
  color: gray;
}
