@import url(https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,400,600,700);
/* open sans fonts; italic 300, 400, 600. regular 400 600 700 */

.team {
  width: 20%;
}

main {
  margin-top: 130px;
}

h1.meet {
  font-weight: 600;
  color: rgb(209,81,90);
  text-transform: capitalize;
  text-align: center;
  font-size: 1.5em;
  margin-bottom: .3em;
  margin-top: 95px;
  line-height: .7em;
  letter-spacing: .3px;
}
