@import url(https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,400,600,700);
/* open sans fonts; italic 300, 400, 600. regular 400 600 700 */

.clearfix:before, .clearfix:after {
  content: " ";
  display: block;
  height: 0;
  overflow: hidden;
}

.clearfix:after {
    clear: both;
}
.clearfix {
    zoom: 1; /* IE < 8 */
}

main {
  margin-top: 70px;
  background-color: white;
}

img.team {
  width: 60%;
  margin: 20px auto;
}

.mainpic {
  width: 100%;
  max-height: 600px;
}

img.align-center {
  display: block;
  margin: 0px auto;
}

div {
  display: block;
  max-width: 100%;
  width: 100%;
  margin: 15px auto 0px auto;
  position: relative;
}


/**h4 {
  font-family: "grafolita-script", cursive;
  text-align: center;
  font-size: 2.3em;
  font-weight: regular;
  margin-top: 10px;
  margin-bottom: 10px;
  color: rgb(209,81,90);
}
**/

h3 {
  font-family: 'Open Sans', Helvetica, sans-serif;
  font-size: 1.1em;
  text-align: center;
  line-height: .7em;
  margin-top: 10px;
}

h5 {
  font-size: .8em;
  margin-top: 5px 0 0 0;
  letter-spacing: normal;
  text-align: center;
  color: rgb(209,81,90)
}

.special {
  margin: none;
  text-align: center;
  font-style: italic;
  margin-top: -20px;
  margin-bottom: 30px;
}

h2 {
  margin-top: 30px;
}

/**p {
  margin-bottom: 30px;
}**/

main {
  max-width: 500px;
  margin: 40px auto 0 auto;
}


@media screen and (min-width:800px) {
  main {
    max-width: 1000px;
    margin: 40px auto 4em auto;
    background-color: none;
  }

  h1 {
    margin-top: 47px;
  }

  .team-member {
    display: block;
    max-width: 100%;
    width: 33.3%;
    margin: 15px auto 30px auto;
    float: left;
  }
  .mainpic {
    display: block;
    width: 100%;
    }
}
