<!DOCTYPE html>
<html lang="en-us">
  <head>
    <script src="https://use.typekit.net/tey4hgg.js"></script>
    <script>try{Typekit.load({ async: true });}catch(e){}</script>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>The Ohio Chop Shop Salon</title>
    <meta name="description" content="Page Description Goes Here">
  </head>

  <body>

  <header role="header">

  <a href="form.html" class="myButton">BOOK APPOINTMENT</a>

    <a href="#menu" class="menu-link">
    	<div class="menu-link__hamburger">
    		<span></span>
    		<span></span>
    		<span></span>
    	</div>
    	<div class="menu-link__label"></div>
    </a>

    <nav id="menu" role="navigation">
    			<ul class="menu">
            <li><a href="index.html">ABOUT</a></li>
            <li><a href="shop.html">SHOP</a></li>
            <li><a href="team.html">TEAM</a></li>
            <li><a href="services.html">SERVICES</a></li>
            <li><a href="contact.html">CONTACT</a></li>
    			</ul>
    </nav>
  </header>

  <a href="index.html>"><img class="logo" src="img/logo.svg" alt="logo"></img></a>

  <img class="mainpic" src="img/team.jpg" alt="team photo">

    <h5>Meet the Team</h5>

    <main role="main">

    <div>
      <img src="team/ana.png" alt="ana" class="align-center team">
      <h4>Ana</h4>
      <h3>Owner</h3>
      <p>Ohio Chop Shop was borm from Ana's experience in the beauty and Fashion
      industry to accomodate a need in Lancaster that hadn't been fulfilled up to
      that point. Her passion for exceptional service is the driving inspiration
      for the ultimate salon and spa experience!</p>
    </div>

    <div>
      <img src="team/jorge.png" alt="jorge" class="align-center team">
      <h4>Jorge</h4>
      <h3>Salon Manager</h3>
      <p>Jorge’s personal philosophy and approach to beauty is that “confidence
        is beautiful” and he works with the goal of helping every client find
        that beautiful confidence in themselves.  His work on From Justin to Kelly
        received rave reviews, with critics calling the actor’s makeup “... suitable
        for film”.</p>
    </div>
    <div>
      <img src="team/jaime.png" alt="jaime" class="align-center team">
      <h4>Jaime</h4>
      <h3>Senior Stylist</h3>
      <p>Jaime’s love for continuous education has driven her to pursue training
        as a Goldwell ambassador, Redken specialist, Eufora Elite team member,
        and certified Keratin Complex Therapy smoothing specialist and takes pride
        in giving every client a style that suits their individual needs.</p>
    </div>
    <div>
      <img src="team/rueben.png" alt="rueben" class="align-center team">
      <h4>Rueben</h4>
      <h3>Stylist</h3>
      <p>Rueben has provided clients with his professional services for slightly
        over 15 years now. " I love my job and my clients. Many are like family.
        I think my best asset is my ability to listen. People know what they want.
        I take their advice and then add my own spin." <br>Specialties: Consultation,
        hair cutting, hair color</br></p>
    </div>
    <div>
      <img src="team/joanna.png" alt="joanna" class="align-center team">
      <h4>Joanna</h4>
      <h3>Massage Therapist</h3>
      <p>Joanna has been a massage therapist with us for over 8 years. When
        she is working on you it is hard to stay awake. She certified in the
        field and keeps clients relaxed during their session. <br>Specialties:
        Swedish (relaxation) Massage,Therapeutic Touch, and Deep Muscle Massage</br></p>
    </div>
    <div>
      <img src="team/charlene.png" alt="charlene" class="align-center team">
      <h4>Charlene</h4>
      <h3>Nail Technician</h3>
      <p>With over 28 years of experience, Charlene can take care of your beauty
        needs. <br>Specialties in manicures, pedicures and free form
        acrylic nails.</br></p>
    </div>

    </main>

    <footer role="contentinfo">
        <img class="align-center social" src="img/social.svg" alt="social media icons">

        <nav class="footer-nav">
          <a href="">Careers</a>
          <a href="">Terms</a>
          <a href="">Blog</a>
        </nav>

        <p class="footer-copyright">© The Ohio Shop Shop Hair Salon</p>
    </footer>

      <link href="style.css" rel="stylesheet" type="text/css" media="screen" />
      <link href="team-styles.css" rel="stylesheet" type="text/css" media="screen" />
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
      <script type="text/javascript" src="index-java.js"></script>
  </body>
</html>
